In [40]:
import pandas as pd
import numpy as np

In [42]:
data = pd.read_csv("statement.csv",
        header=0,
        names=["First Bank Card",	"Transaction Type",	"Date Posted",	 "Transaction Amount", "Description"],
        parse_dates=["Date Posted"]).replace({"First Bank Card": {"'5510290010786688'":"BMO"}})

In [43]:
data

,First Bank Card,Transaction Type,Date Posted,Transaction Amount,Description
0,BMO,DEBIT,2020-09-28,-70.78,[DS]TD INS/TD ASSUR INS/ASS ...
1,BMO,DEBIT,2020-09-28,-80.00,[CW]INTERAC ETRNSFR SENT XIAOSHAN ZHENG ...
2,BMO,DEBIT,2020-09-30,-82.20,[CW]ENBRIDGE ...
3,BMO,CREDIT,2020-10-01,1113.19,[CW] TF 2924#8092-948 ...
4,BMO,CREDIT,2020-10-01,5000.00,[CW] TF 0000000022180868356 ...
...,...,...,...,...,...
157,BMO,DEBIT,2020-01-31,-5.00,[SC]TEL/PC 01 ITMS AT 5.00 ...
158,BMO,CREDIT,2020-01-31,42.24,[IN] ...
159,BMO,CREDIT,2020-02-28,0.06,[IN] ...
160,BMO,CREDIT,2020-03-31,0.04,[IN] ...
161,BMO,CREDIT,2020-04-30,0.01,[IN] ...

In [15]:
np.histogram(data["Date Posted"].dt.month, bins=12, range=(1,12))[0]

array([ 8,  1,  1,  1,  0,  2,  2,  1,  7, 62, 63, 14], dtype=int64)

In [16]:
len(data)

162

In [17]:
data['Transaction Type'].nunique()

2

In [19]:
data.describe()

       Transaction Amount
count          162.000000
mean          -838.517407
std          14066.501144
min        -150000.000000
25%           -375.695000
50%            -70.780000
75%             92.950000
max          63641.000000

In [52]:
data.groupby(by="Transaction Type").sum()

                  Transaction Amount
Transaction Type
CREDIT                     191551.17
DEBIT                     -327390.99

In [53]:
data.dtypes

First Bank Card               object
Transaction Type              object
Date Posted           datetime64[ns]
Transaction Amount           float64
Description                   object
dtype: object

In [57]:
data.columns

Index(['First Bank Card', 'Transaction Type', 'Date Posted',
       'Transaction Amount', 'Description'],
      dtype='object')

In [60]:
data[data["Transaction Type"]=='DEBIT']

,First Bank Card,Transaction Type,Date Posted,Transaction Amount,Description
0,BMO,DEBIT,2020-09-28,-70.78,[DS]TD INS/TD ASSUR INS/ASS ...
1,BMO,DEBIT,2020-09-28,-80.00,[CW]INTERAC ETRNSFR SENT XIAOSHAN ZHENG ...
2,BMO,DEBIT,2020-09-30,-82.20,[CW]ENBRIDGE ...
5,BMO,DEBIT,2020-10-01,-5393.98,[CW] TF 0005524890002007763 ...
6,BMO,DEBIT,2020-10-01,-1523.41,[CW]CAPITAL ONE-MC ...
...,...,...,...,...,...
153,BMO,DEBIT,2020-01-03,-11279.15,[CW] TF 0000000022180868356 ...
154,BMO,DEBIT,2020-01-06,-600.00,[CW] TF 0000000022180868356 ...
155,BMO,DEBIT,2020-01-06,-150000.00,[DM]BR.3846 TF ...
156,BMO,DEBIT,2020-01-21,-59000.00,[DM]TF TO CHE ...
157,BMO,DEBIT,2020-01-31,-5.00,[SC]TEL/PC 01 ITMS AT 5.00 ...

In [65]:
data[data["Transaction Type"]=='DEBIT']["Description"].unique()

array(['[DS]TD INS/TD ASSUR INS/ASS                                                    ',
       '[CW]INTERAC ETRNSFR SENT     XIAOSHAN ZHENG           2020272220079EB36        ',
       '[CW]ENBRIDGE                                                                   ',
       '[CW] TF 0005524890002007763                                                    ',
       '[CW]CAPITAL ONE-MC                                                             ',
       '[DS]TD INSURANCE    INS/ASS                                                    ',
       '[CW]ALECTRA UTILS                                                              ',
       '[CW]HYDRO ONE                                                                  ',
       '[CW] TF 0000000022180868356                                                    ',
       '[DS]CANADALIFE      INS/ASS                                                    ',
       '[PR]YU SEAFOOD                                                                 ',
       '[CW] TF 2924#8092-948                                                          ',
       '[DS]SUN LIFE        INS/ASS                                                    ',
       '[CW]INTERAC ETRNSFR SENT     AR DAI                   20202832307E5177A        ',
       '[CW]INTERAC ETRNSFR SENT     CANADIAN CHINESE ORCHEST 20202852153C78B61        ',
       '[DS]VW CREDIT CAN   LNS/PRE                                                    ',
       '[PR]BAYVIEW FOODMAR                                                            ',
       "[PR]YANG'S BRAISED                                                             ",
       '[CW]GEORGINA TAX                                                               ',
       '[OM]  C4157539INTERAC    1054                                                  ',
       '[PR]TERRA                                                                      ',
       '[CW]INTERAC ETRNSFR SENT     AR DAI                   20202921800114FC2        ',
       '[DS]RBCINS-LIFE-BRB INS/ASS                                                    ',
       '[DS]SPIRIT OF MATH  MSP/DIV                                                    ',
       '[CW]INTERAC ETRNSFR SENT     YINGSHI WU               202030017360E613D        ',
       '[CW]INTERAC ETRNSFR SENT     AR DAI                   20203042355B44579        ',
       '[IN]                                                                           ',
       '[CW]INTERAC ETRNSFR SENT     YINGSHI WU               2020305112782E5AE        ',
       '[CW]INTERAC ETRNSFR SENT     A QING                   202030520176AE9C1        ',
       '[SO]AP    0000000022097866130                                                  ',
       '[SO]AP    0000000022180868356                                                  ',
       '[CW]INTERAC ETRNSFR SENT     XIAOSHAN ZHENG           20203132056FAC872        ',
       '[CW]RICH HILL WATER                                                            ',
       '[PR]SUNFOOD SUPERMA                                                            ',
       '[CW]INTERAC ETRNSFR SENT     AR DAI                   202032318486118BD        ',
       '[EC]MOBILE CHEQUE DEPOSIT                                                      ',
       '[CW]INTERAC ETRNSFR SENT     A QING                   2020329203841DCD7        ',
       '[IB]           9350 YONGE STR                                                  ',
       '[CW]INTERAC ETRNSFR SENT     ALBERT LI                20203381800166D4E        ',
       '[CW] TF 2924#3088-640                                                          ',
       '[DN]BMO PAYMENT     CBP/PFE                                                    ',
       '[CW] TF 2924#4714-972                                                          ',
       '[TF]2924#3088-640 0000                                                         ',
       '[FX]USD TFR 2924-3088-640    AT      1.316    HC $0.00CAD EQUIV     $13 160.00 ',
       '[DN]BMO PAYMENT     BPY/FAC                                                    ',
       '[DM]BR.0071                  TF TO 2924 8092 948                               ',
       '[DM]BR.3846                  TF                                                ',
       '[DM]TF TO CHE                                                                  ',
       '[SC]TEL/PC    01 ITMS AT 5.00                                                  '],
      dtype=object)

In [67]:
data[data["Transaction Type"]=='DEBIT']["Description"].value_counts()

[CW] TF 2924#3088-640                                                              10
[DS]TD INSURANCE    INS/ASS                                                         9
[CW]ENBRIDGE                                                                        7
[PR]BAYVIEW FOODMAR                                                                 6
[CW]ALECTRA UTILS                                                                   5
[CW] TF 2924#8092-948                                                               5
[CW]HYDRO ONE                                                                       4
[DS]SUN LIFE        INS/ASS                                                         4
[CW] TF 0000000022180868356                                                         4
[CW] TF 2924#4714-972                                                               3
[DS]TD INS/TD ASSUR INS/ASS                                                         3
[DS]CANADALIFE      INS/ASS                                                         3
[CW] TF 0005524890002007763                                                         3
[DS]RBCINS-LIFE-BRB INS/ASS                                                         2
[CW]CAPITAL ONE-MC                                                                  2
[OM]  C4157539INTERAC    1054                                                       2
[TF]2924#3088-640 0000                                                              2
[DS]VW CREDIT CAN   LNS/PRE                                                         2
[DN]BMO PAYMENT     BPY/FAC                                                         2
[SO]AP    0000000022097866130                                                       2
[CW]INTERAC ETRNSFR SENT     A QING                   202030520176AE9C1             1
[PR]YANG'S BRAISED                                                                  1
[DM]BR.3846                  TF                                                     1
[PR]YU SEAFOOD                                                                      1
[IB]           9350 YONGE STR                                                       1
[PR]SUNFOOD SUPERMA                                                                 1
[EC]MOBILE CHEQUE DEPOSIT                                                           1
[DM]BR.0071                  TF TO 2924 8092 948                                    1
[SO]AP    0000000022180868356                                                       1
[DN]BMO PAYMENT     CBP/PFE                                                         1
[CW]INTERAC ETRNSFR SENT     CANADIAN CHINESE ORCHEST 20202852153C78B61             1
[CW]INTERAC ETRNSFR SENT     XIAOSHAN ZHENG           2020272220079EB36             1
[CW]INTERAC ETRNSFR SENT     AR DAI                   20202832307E5177A             1
[CW]INTERAC ETRNSFR SENT     ALBERT LI                20203381800166D4E             1
[IN]                                                                                1
[DS]SPIRIT OF MATH  MSP/DIV                                                         1
[SC]TEL/PC    01 ITMS AT 5.00                                                       1
[CW]INTERAC ETRNSFR SENT     AR DAI                   202032318486118BD             1
[CW]GEORGINA TAX                                                                    1
[PR]TERRA                                                                           1
[CW]INTERAC ETRNSFR SENT     YINGSHI WU               2020305112782E5AE             1
[CW]INTERAC ETRNSFR SENT     AR DAI                   20203042355B44579             1
[CW]RICH HILL WATER                                                                 1
[FX]USD TFR 2924-3088-640    AT      1.316    HC $0.00CAD EQUIV     $13 160.00      1
[CW]INTERAC ETRNSFR SENT     YINGSHI WU               202030017360E613D             1
[CW]INTERAC ETRNSFR SENT     XIAOSHAN ZHENG           20203132056FAC872             1
[CW]INTERAC ETRNSFR SENT     AR DAI                   20202921800114FC2             1
[CW]INTERAC ETRNSFR SENT     A QING                   2020329203841DCD7             1
[DM]TF TO CHE                                                                       1
Name: Description, dtype: int64

In [69]:
data[data["Transaction Type"]=='DEBIT'].sort_values(by='Transaction Amount').head(20)

,First Bank Card,Transaction Type,Date Posted,Transaction Amount,Description
155,BMO,DEBIT,2020-01-06,-150000.00,[DM]BR.3846 TF ...
156,BMO,DEBIT,2020-01-21,-59000.00,[DM]TF TO CHE ...
153,BMO,DEBIT,2020-01-03,-11279.15,[CW] TF 0000000022180868356 ...
139,BMO,DEBIT,2020-11-30,-10000.00,[CW] TF 2924#3088-640 ...
144,BMO,DEBIT,2020-11-03,-10000.00,[FX]USD TFR 2924-3088-640 AT 1.316 ...
66,BMO,DEBIT,2020-11-03,-8200.00,[CW] TF 0000000022180868356 ...
19,BMO,DEBIT,2020-10-02,-7611.32,[CW] TF 0000000022180868356 ...
123,BMO,DEBIT,2020-11-02,-6000.00,[CW] TF 2924#4714-972 ...
109,BMO,DEBIT,2020-12-01,-5942.95,[CW] TF 0005524890002007763 ...
5,BMO,DEBIT,2020-10-01,-5393.98,[CW] TF 0005524890002007763 ...
67,BMO,DEBIT,2020-11-03,-5000.00,[CW] TF 2924#8092-948 ...
53,BMO,DEBIT,2020-10-30,-4991.32,[CW] TF 0005524890002007763 ...
62,BMO,DEBIT,2020-11-02,-4759.24,[SO]AP 0000000022097866130 ...
106,BMO,DEBIT,2020-12-01,-4759.24,[SO]AP 0000000022097866130 ...
49,BMO,DEBIT,2020-10-26,-3000.00,[CW]INTERAC ETRNSFR SENT YINGSHI WU ...
121,BMO,DEBIT,2020-09-17,-2000.00,[CW] TF 2924#4714-972 ...
73,BMO,DEBIT,2020-11-09,-2000.00,[CW] TF 2924#8092-948 ...
24,BMO,DEBIT,2020-10-07,-2000.00,[CW] TF 2924#8092-948 ...
34,BMO,DEBIT,2020-10-19,-1665.51,[CW]GEORGINA TAX ...
141,BMO,DEBIT,2020-12-01,-1600.00,[CW] TF 2924#3088-640 ...

In [80]:
data[data["Transaction Type"]=='DEBIT'].groupby(data["Date Posted"].dt.month).sum()

             Transaction Amount
Date Posted
1                    -221094.15
6                       -545.00
7                        -10.00
8                         -5.00
9                      -2550.76
10                    -34950.14
11                    -55033.04
12                    -13202.90